<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="estilos/estilo.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido <%= user.username %></p>
    <% include partials/page/jsDefaults.ejs %>
  </body>
</html>